@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(135deg, #1e3a8a 0%, #fbbf24 100%);
  color: #1e3a8a;
}
